<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fxtemplatesql.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/df39840d-5968-40f2-a989-e8bcfd9f0469/resourceGroups/Test/providers/Microsoft.Web/sites/FxTemplateSQL</ResourceId>
    <PublishUrl>https://fxtemplatesql.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>